@import "tailwindcss";
:root {
    --multiplier: 1.2599; /* Major third scale */

    --font-size-base: 1rem;
    --spacing-base: 1.125rem;

    --color-background: #ffffff;
    --color-background-dark: #1e1e1e;
    --color-background-gray: #f3f4f6;
    --color-background-secondary: #f5f5f5;
    --color-foreground: #171717;
    --color-banner: #024344;

    --color-text-black: #000000;
    --color-text-neutral: #6b7280;
    --color-heading: #111827;
    --color-text-on-dark: #ffffff;
    --color-primary: #ed1b2e;
    --color-primary-light: #fff6f7;
    --color-primary-dark: #cd1f29;
    --color-primary-darker: #d0011c;
    --color-text-link: var(--color-primary);

    --color-background-blue: #c4dff6;
    --color-background-yellow: #ecb731;
    --color-background-orange: #ff2100;

    --color-background-gradient-secondary: #fafde9;
    --color-background-gradient-primary: #f3f5e9;

    --color-background-gradient: linear-gradient(
        180deg,
        var(--color-background-gradient-primary) 0%,
        var(--color-primary-light) 50%,
        var(--color-background-gradient-secondary) 100%
    );

    --color-separator: #e5e7eb;

    --color-text: #3f3f3f;
    --color-text-alternative: #193351;
    --color-text-accent: #05445e;
    --color-text-on-secondary: #ffffff;
    --color-text-on-primary: #ffffff;
    --color-text-on-tertiary: #ffffff;

    --font-weight-light: 300;
    --font-weight-medium: 400;
    --font-weight-semi-bold: 500;
    --font-weight-bold: 600;
    --font-weight-extra-bold: 700;
    --font-weight-boldest: 900;

    --width-page-max: 80rem;
    --width-page-min: 60rem;
    --width-separator-thin: 1px;

    --border-radius-circle: 50%;
    --border-radius-large: 16px;
    --border-radius-medium: 12px;
    --border-radius-small: 12px;
    --border-radius-extra-small: 8px;

    --border-radius-popup: 3px;
    --blur-radius-popup: 1px;
    --color-shadow: rgba(0, 0, 0, 0.5);

    /* Font size */
    --font-size-super-small: calc(
        var(--font-size-base) /
            (var(--multiplier) * var(--multiplier) * var(--multiplier))
    );
    --font-size-extra-small: calc(
        var(--font-size-base) / (var(--multiplier) * var(--multiplier))
    );
    --font-size-small: calc(var(--font-size-base) / var(--multiplier));
    --font-size-medium: var(--font-size-base);
    --font-size-large: calc(var(--font-size-base) * var(--multiplier));
    --font-size-extra-large: calc(
        var(--font-size-base) * var(--multiplier) * var(--multiplier)
    );
    --font-size-super-large: calc(
        var(--font-size-base) * var(--multiplier) * var(--multiplier) *
            var(--multiplier)
    );
    --font-size-mega-large: calc(
        var(--font-size-base) * var(--multiplier) * var(--multiplier) *
            var(--multiplier) * var(--multiplier)
    );
    --font-size-gigantic: calc(
        var(--font-size-base) * var(--multiplier) * var(--multiplier) *
            var(--multiplier) * var(--multiplier) * var(--multiplier)
    );
    --font-size-galactic: calc(
        var(--font-size-base) * var(--multiplier) * var(--multiplier) *
            var(--multiplier) * var(--multiplier) * var(--multiplier) *
            var(--multiplier)
    );

    /* Spacing */
    --spacing-tiny: calc(
        var(--spacing-base) /
            (
                var(--multiplier) * var(--multiplier) * var(--multiplier) *
                    var(--multiplier) * var(--multiplier) * var(--multiplier)
            )
    );
    --spacing-ultra-small: calc(
        var(--spacing-base) /
            (
                var(--multiplier) * var(--multiplier) * var(--multiplier) *
                    var(--multiplier) * var(--multiplier)
            )
    );
    --spacing-super-small: calc(
        var(--spacing-base) /
            (var(--multiplier) * var(--multiplier) * var(--multiplier))
    );
    --spacing-extra-small: calc(
        var(--spacing-base) / (var(--multiplier) * var(--multiplier))
    );
    --spacing-small: calc(var(--spacing-base) / var(--multiplier));
    --spacing-medium: var(--spacing-base);
    --spacing-large: calc(var(--spacing-base) * var(--multiplier));
    --spacing-extra-large: calc(
        var(--spacing-base) * var(--multiplier) * var(--multiplier)
    );
    --spacing-super-large: calc(
        var(--spacing-base) * var(--multiplier) * var(--multiplier) *
            var(--multiplier)
    );
    --spacing-mega-large: calc(
        var(--spacing-base) * var(--multiplier) * var(--multiplier) *
            var(--multiplier) * var(--multiplier)
    );
    --spacing-gigantic: calc(
        var(--spacing-base) * var(--multiplier) * var(--multiplier) *
            var(--multiplier) * var(--multiplier) * var(--multiplier)
    );
    --spacing-enormous: calc(var(--spacing-gigantic) * var(--multiplier));
    --spacing-galactic: calc(
        var(--spacing-gigantic) * var(--multiplier) * var(--multiplier)
    );
    --spacing-universal: calc(
        var(--spacing-gigantic) * var(--multiplier) * var(--multiplier) *
            var(--multiplier) * var(--multiplier)
    );

    --box-shadow: 0 1pt 4pt rgb(0 0 0 / 0.2);
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background: var(--color-background);
    color: var(--color-text);
    font-family:  sans-serif;
    font-weight: var(--font-weight-medium);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
    font-family:sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

/* NOTE: Disabling Dark mode */
/* @media (prefers-color-scheme: dark) { */
/*     html { */
/*         color-scheme: dark; */
/*     } */
/* } */
