.navbar {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    border-bottom: var(--go-ui-width-separator-thin) solid
        var(--go-ui-color-primary-red);
    background-color: var(--go-ui-color-black);
    padding: var(--go-ui-spacing-md) var(--go-ui-spacing-lg);
    animation: slide-down var(--go-ui-duration-animation-medium) ease-in
        forwards;

    .searchInput {
        display: flex;
        background-color: var(--go-ui-color-white);
    }
    .title {
        color: var(--color-background-orange);
        font-size: var(--go-ui-font-size-3xl);
    }
    .icons {
        background-color: var(--color-background-orange);
    }
    .userInfo {
        display: flex;
        align-items: start;
        flex-direction: column;
    }
}
.dropdown-option {
    cursor: pointer;
    padding: var(--go-ui-spacing-xs);
    padding-left: var(--go-ui-spacing-md);
    width: 100%;
    overflow: hidden;
    &:hover {
        color: var(--go-ui-color-primary-red);
    }
}

.test {
    width: 150px;
}

@keyframes slide-down {
    0% {
        transform: translateY(-0.25rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
